.whiteground {
    background-color: #667688;
}

.main-colour {
    background-color: #AD9B6B;
}

.input-label {
    margin: auto;
}


.line {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.big-line {
    margin-top: 1.2em;
    margin-bottom: 0.8em;
}
